.header {
  padding: 1.05rem 0.75rem;
  border-bottom: 1px solid rgba(113, 119, 144, 0.25);
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__decoration {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__circle {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 0 0.25rem;
  }
  &__btn {
    background: #fff;
    padding: 0.25rem 1rem;
    color: #000;
    font-size: 0.85rem;
    line-height: 100%;
    border: 1px solid #b1b1b1;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(102, 102, 102, .4);
  }
}
